<div class="emailCapture-container">
    <div class="filter"></div>
    <form action="">
        <label for="" class="headers">Enjoy out best deals</label>
        <span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>
        <div class="input">
            <input type="text" placeholder="send us your email to get our latest sale & discount updates" class="news-letter" name="news-letter" id="news-letter">
            <button class="news-letter-submit" type="submit">Sign Up</button>
        </div>
    </form>
</div>