<footer class="footer-main">
    <div class="footer-logo-container">
        <a href="">
            <img height="90" src="imgs/hanzo_s_cakery.png" alt="">
        </a>
        <ul>
            <li>
                <a class="blueHover" href="tel:0912-232-1231">0912-232-1231</a>
            </li>
            <li>
                <a class="blueHover" href="mailto:Hanzoscakery@gmail.com">Hanzoscakery@gmail.com</a>
            </li>
            <li>
                <a class="blueHover" href="#">
                    Mampaalong street, <br>
                    Murillo St, Malaybalay, <br>
                    8700 Bukidnon
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-sitemap">
        <ul>
            <li>
                <span>Services</span>
                <ul>
                    <li>
                        <a class="blueHover" href="#">FAQ</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Menu</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Order</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Popular</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Contact</a>
                    </li>
                </ul>
            </li>

            <li>
                <span>About</span>
                <ul>
                    <li>
                        <a class="blueHover" href="#">About us</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Support</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Terms of Service</a>
                    </li>
                </ul>
            </li>

            <li>
                <span>Follow us</span>
                <ul>
                    <li>
                        <a class="blueHover" href="#">Facebook</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">tik-tok</a>
                    </li>
                    <li>
                        <a class="blueHover" href="#">Pinterest</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>