<div class="main-nav-container">

    <a href="#">
        <img height="90" src="imgs/hanzo_s_cakery.png" alt="">
    </a>
    <nav class="main-nav">
        <ul>
            <li>
                <a class="nav-active" href="#">Home</a>
            </li>
            <li>
                <a href="#">Menu</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>