<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanzo's Cakery</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/imgs/hanzo_s_cakery.png">
</head>
<body>
    <%- include('../partials/mainNav') %>

    
    <div class="hero grid-2">
       <div class="grid-2-left justify-center">

        <h1 class="hero-header headers">Taste The <br> Difference</h1>

        <h2 class="hero-subheader">our artistal approach on food</h2>

        <div class="hero-cta">
            <a class="twin-btn blue-btn" href="">Order now</a>
            <a class="twin-btn white-btn" href="">Menu</a>
        </div>

       </div>
       <div class="grid-2-right">
        <img class="hero-img" src="imgs/whole cake with overlay.png" alt="hanzo's cakery featured cake">
       </div>
    </div>


    
    <%- include('../partials/emailCapture') %>

    <%- include('../partials/footer') %>
</body>
</html>